<header class="header">
  <img
    src="assets/img/maikon.PNG"
    alt="foto de perfil de Maikon"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Maikon Corrêa</h1>
</header>
<aside>
  <div class="container">
    <p>Full Stack JavaScript | TypeScript |React.js | Node.js | Next.js | Angular | NoSql | SQL | MongoDB | Git |
    </p>
    <p>Novo Hamburgo, Rio Grande do Sul, Brasil</p>
    <p>
      Sou Desenvolvedor Web, apaixonado pela tecnologia, sempre focado em aprender novos FrameWorks, me especializando tanto no Frontend quanto Backend.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn_primary">
            Donwload CV
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/maikon-correa-9a5407264/" target="_blank" class="btn btn_secundary">
            Linkedin
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg"
             alt="imagen do logotipo whatsapp"
             width="22px"
             height="24px"
        />
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5551989622809&text=Olá%20Maikon, %20gostaria%20de%20falar%20com%20você%20sobre%20seu%20portifólio!"
             target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (51) 9 8962-2809</p>
          </a>
        </figcaption>
      </figure>
    </section>
    <section>
      <figure>
        <img src="assets/icons/mail.svg"
             alt="icone para contato de e-mail"
             width="22px"
             height="24px"
        />
        <figcaption>
          <a href="mailto:maikonacorrea@gmail.com"
             target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>maikonacorrea&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
